#letters > div {
    display: inline;
    padding: 1em;
    margin: .5em;
    border-radius: 5px;
}

#mask {
    background-color: black;
    opacity: .5;
    position: absolute;
    z-index: 9001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#helpText {
    background-color: white;
    border-radius: 5px;
    z-index: 9002;
    position: relative;
}

#helpText .row {
    padding: 1em;
}

.top-right {
    position: absolute;
    top: .25em;
    right: .25em;
}

#play {
    margin-right: 2em;
}

#word {
    font-size: 4em;
}

#word > span {
    margin-right: .25em;
}

.clickable {
    cursor: pointer;
}

.jumbotron {
    position: relative;
    margin-top: 1em;
}

.margin-bottom-2em {
    margin-bottom: 2em;
}

.missed-letter {
    color: red;
    text-transform: uppercase;
}